$font-family:    'Fira Sans', sans-serif;
$font-size:    10px;

$tw-hdr-bg-color: white;
$tw-subhdr-bg-color: rgba(43, 55, 103, 1.0);
$tw-nav-bg-color: rgba(43, 55, 103, 0.94);
$tw-hdr-image-size: 100%;
